body {
    margin: 50px;
    border: 0;
    padding: 0;
}

h1 {
    font-weight: bolder;
    font-size: 30px;
}

h3 {
    font-weight: bolder;
    font-size: 20px;
}

footer {
    text-align: center;
}